<div class="datepicker-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Select Date Range</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <div class="range-selected-display" *ngIf="range.value.start && range.value.end">
        <p><strong>Selected Date Range:</strong></p>
        <p>From: {{ range.value.start | date:'mediumDate' }}</p>
        <p>To: {{ range.value.end | date:'mediumDate' }}</p>
      </div>
    </mat-card-content>
    <div *ngIf="rangeError" class="date-range-error">{{ errorMessage }}</div>
  </mat-card>


  <div class="container">
    <div class="navigation">
      <button
        mat-icon-button
        (click)="getPreviousMonth()"
        class="btn"
        [disabled]="isCurrentMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="label">
        {{ getMonthYearDisplay() }}
      </span>
      <button
        mat-icon-button
        (click)="getNextMonth()"
        class="btn">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="months">
      <div class="month" *ngFor="let month of visibleMonths">
        <div class="month-header">
          <h3>{{ month.monthName }} {{ month.year }}</h3>
        </div>
        <div class="days-layout">
          <div class="day-label" *ngFor="let day of dayHeaderList">
            {{ day }}
          </div>
          <div
            class="calendar-day"
            *ngFor="let day of month.days"
            [class.is-selected]="day.isSelected"
            [class.in-range]="day.isInRange"
            [class.is-start]="day.isStartDate"
            [class.is-end]="day.isEndDate"
            [class.is-empty]="!day.date || day.date.getMonth() !== month.month"
            (click)="handleDateSelection(day)">
            <div class="calendar-day-num" *ngIf="day.date && day.date.getMonth() === month.month">
              {{ day.date.getDate() }}
            </div>
            <div
              class="calendar-day-count"
              *ngIf="day.date && day.date.getMonth() === month.month && day.count">
              {{ day.count | number }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
